#menubar {
    position: absolute;
    left: 145px;
    top: 0px;
    width: calc(100% - 145px);
    height: 50px;
    border: 3px solid blue;
}

#user-div {
    position: relative;
    right: 30px;
    width: 100px;
    height: 50px;
    top: 0px;
    right: 0px;
}

#profile-button {
    position: absolute;
    right: 0px;
    top: 10px;
}